# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log

# Папки IDE
.vscode/
.idea/

# node_modules (если подключишь npm в будущем)
node_modules/

# Сборочные файлы (если используешь сборщик)
dist/
build/

# Env файлы
.env
.env.*

# MacOS кэш
__MACOSX/
